php
db/mysql

*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.log
.bash_history

!wordpress/html
wordpress/html/*
!wordpress/html/wp-content
wordpress/html/wp-content/*
wordpress/html/wp-content/plugins
wordpress/html/wp-content/plugins/**/build
!wordpress/html/wp-content/themes
wordpress/html/wp-content/themes/*



